.edit-menu {
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  gap: 15px;
  padding: 20px 0px;


  .back{
    color: #DE250C;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }

  h2{
    align-self: center;
    font-weight: 900;
    font-size: 24px;
  }

  .first{
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: min(70vw, 450px);
    padding: 20px 50px;
    
    .image-icon{
      justify-content: space-between;

      .user-image{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .icon{
        cursor: pointer;
      }

    }
    input {
      padding: 5px 20px;
      font-size: 14px;
      width: 100%;
      border: none;
      border-bottom:2px solid #FA9232;
      background-color: transparent;
      outline: none;
    }
    .lable{
      color: #737373;
      font-size: 14px;
    }
    .edit-menu-action{
      justify-content: space-around;
      .edit-menu-btn{
        width: 120px;
        font-size: 15px;
        align-self: center;
        color: white;
        border-radius: 10px;
      }
      .save{
        background-color: #FA9232;
      }

      .delete{
        background-color: black;
      }

    }
    
  }

}