.header{
  background-color: #F6F2F2;
  padding: 20px 60px;
  justify-content: center;
  width: 100%;
  height: 180px;
  margin-top: 55px;

  .categories-list{
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 10px 0px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .categories-list-item{
      .category-image{
        width: max(5.8vw, 120px);
        height: max(5.8vw, 120px);
        cursor: pointer;
        border-radius: 50%;
        transition: 0.2s;
      }
      p{
        font-weight: 900;
        font-size: max(1vw, 16px);
        cursor: pointer;
      }

      .active {
        border: 4px solid #FBDA61;
        border-radius: 50%;
        padding: 2px;
      }
    }
  }
}

