.food-display {
  margin-top:60px;
  padding: 30px;
  margin: auto;

  .restaurant-details{
    display: flex;
    gap: 20px;
    align-items: flex-end;

    .restaurant-name-container{
      .restaurant-image{
        width: 100px;
        height: 100px;
        border-radius: 10px;
      }
      .restaurant-name{
        font-size: 18px;
        font-weight: 700;
        color: #DE250C;
      }
    }
    .restaurant-info{
      color: #7B7474;
      

      .restaurant-address{
        font-size: 14px;
      }
      .second-row{
        display: flex;
        gap: 10px;
        
        .restaurant-ratings{
          font-size: 14px;
        }
        .operating-time{
          font-size: 14px;

        }
      }
    }
  }


.food-display-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top:30px;
  gap:30px;
  row-gap: 50px;
}
    
}