.payment{
  flex-direction: column;
  margin: auto;
  padding: 30px 30px;
  gap: 18px;
  align-items: stretch;

  h2{
    align-self: center;
  }

  .back-to-order{
    align-self: flex-start;
    cursor: pointer;
    color: #DE250C;
    font-size: 14px;

  }
  .payment-label{
    font-size: 13px;
  }

  input{
    width: 300px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    outline: none;
    font-size: 14px;;
  }

  .card-expirydate{
    width: 100%;
    justify-content: space-between;
    input{
      width: 90px;
    }
  }

  .payment-btn{
    font-size: 15px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: #DE250C;
  }




}