:root{
  --backgroundColor: #93DFFF;
  --btnColor: #2C7DF7;
  --whiteColor: hsl(00, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.footerContainer{
  margin-top: auto;
  justify-content: space-around;
  align-items: center;
  background-color:#323030;
  height: 140px; 
  color: white;


  .logo {
    font-size: 30px;
    font-weight: 800;
  }

  .LinkContainer{

    width: 400px;
    height: 120px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 10px;
    padding: 0px 10px;

    ul {
      li{
        font-size: 13px;
      }  
    }

    .terms{
      justify-content: space-between;
      .text{
        margin-right: 5px;
        font-size: 13px;
      }
    }

  }

  .iconContainer{
    flex-direction: column;
    justify-content: space-between;


    .first{
      width: 100px;
      justify-content: space-evenly;
      

    }

    .second {


    }
  }

}
