.order-navbar{
  justify-content: space-evenly;
  margin-bottom: 40px;


  .order-navbar-item{
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    &:hover{
      color: #FA9232;
      text-decoration: underline;
    }
    .active{
      color: #FA9232;
      text-decoration: underline;
    }
  }
}