.food-item{
  width:100%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid #7B7474;
  padding: 10px;
  gap: 20px;

  .food-item-image-container{
    width: 40%;
    
    .food-item-image{
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }


  .food-item-info{
    width: 60%;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    .food-item-name{
      font-weight: 500;
    }

    .food-item-price{
      font-weight: 500;
      
    }
    .food-item-icons{
      .btn{
        font-size: 13px;
        padding: 5px 15px;
        background-color: #DE250C;
      }
      .icon{
        cursor: pointer;
      }
      .food-item-counter{
        gap: 5px;
        div{
          background-color: #F5F3F3;
          width: 30px;
          height:30px;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }
    }
  }

}